<hr>
<div class="container">
    <button type="button" class="btn btn-primary my-2  position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
        post
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{postcounter|async}}
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
    <p></p>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Make Post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="" [formGroup]="form" (ngSubmit)="addPost()">
                        <div *ngFor="let item of question$|async">
                            <app-form-question [question]="item" [form]="form"></app-form-question>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<app-list-post></app-list-post>